<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div id="app">
    <label v-for="item in ohobbies" :for="item">
      <input type="checkbox" :value="item" :id="item" v-model="hobbies">{{item}}
    </label>
    <h2> {{hobbies}} </h2>
  </div>
</body>
<script src="./vue.js"></script>
<script>
  const app = new Vue({
    el:"#app",
    data:{
      message:"你好呀",
      hobbies:[],
      ohobbies:["足球","篮球","羽毛球","乒乓球"]
    }
  })
</script>
</html>